static/uploads/Asset 1_grid.pdf
static/uploads/Asset 1_outline.pdf
__pycache__/forms.cpython-311.pyc
__pycache__/forms.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
static/uploads/Asset 1.png
static/uploads/Beautiful_Gift_Shop-Business Card(print-Version) 85x55_outline.pdf
static/uploads/Beautiful_Gift_Shop-Business Card(print-Version) 85x55_grid.pdf
static/uploads/60x90 card_grid.pdf
static/uploads/60x90 card_merged_outline.pdf
static/uploads/60x90 card.png
static/uploads/85 55 outlines_grid.pdf
static/uploads/85 55 outlines_merged_outline.pdf
__pycache__/forms.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
static/uploads/85 55 outlines.png
static/uploads/Flios-logo-03_merged_outline.pdf
static/uploads/Flios-logo-green-bg.png
static/uploads/Flios-logo-green-bg_merged_outline.pdf
static/uploads/Flios-logo-green-bg_grid.pdf
static/uploads/Flios-logo-03.png
static/uploads/Flios-logo-03_grid.pdf
static/uploads/85 55 outlines_numbering.pdf
__pycache__/utils.cpython-311.pyc
__pycache__/forms.cpython-311.pyc
static/uploads/85 55 outlines_output.pdf
__pycache__/utils.cpython-311.pyc
__pycache__/forms.cpython-311.pyc
__pycache__/helpers.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/forms.cpython-311.pyc
__pycache__/forms.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
.vscode/settings.json
static/uploads/85 55 outlines_temp.jpg
.vscode/settings.json
__pycache__/forms.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
