* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    display: grid;
    height: 98vh;
    width: 100%;
    overflow: clip;
    padding: 1em;
    grid-template-rows: 8 * 1fr;
    grid-template-columns: 6 * 1fr;
    gap: 8px;
}

.grid-container {
    padding: 0.2em;
    border-radius: 8px;
    background-color: #f3f3f3;
}

.home {
    grid-row: 1;
    grid-column: 1;
}
.basic-options {
    grid-row: 2 / 4;
    grid-column: 1;
}
.more-options {
    grid-row: 4 / 8;
    grid-column: 1;
}
.submit-container {
    grid-row: 8;
    grid-column: 1;
}

.pdf-preview {
    grid-column: 3 / 7;
    grid-row: 1 / 9;
}
.add-container {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1;
}

.image-preview {
    grid-column: 2 / 3;
    grid-row: 2 / 9;
}

nav {
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

canvas {
    padding: 0;
    margin: 0;
}

.radio-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.2em;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}
header {
    display: flex;
    align-items: center;
    gap: 1em;
}
fieldset {
    justify-content: space-between;
    padding: 0.5em;
    font-size: x-small;
    border-radius: 8px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: x-small;
}

input[type="number"],
input[type="checkbox"] {
    text-align: right;
    padding: 5px;
    border-radius: 4px;
    width: 3em;
}

input[type="text"] {
    width: 6em;
    padding: 5px;
    border-radius: 4px;
}

span {
    font: 1em sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

a {
    text-decoration: none;
}

select {
    text-align: right;
    padding: 5px;
    border-radius: 4px;
    width: 6em;
}

legend {
    font-weight: bold;
    padding: 0 0.2em;
    margin: 0 0.2em;
    font-size: 16px; /* Set a consistent font size */
    color: #333; /* Set a consistent font color */
    width: max-content; /* Set a consistent width for all legends */
    display: inline-block; /* Make legend behave like a block element */
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.logo-img {
    margin: 0 0.2em;
    width: 25px;
    height: 25px;
}

.button {
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload {
    background-color: #3d88da;
    color: white;
}

.run {
    background-color: #00b351;
    color: white;
}

.button img {
    width: 24px;
    height: 24px;
}

.button:hover:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button:active:active {
    background-color: #004080;
    transform: translateY(0);
}

footer {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 10px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}
