* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    display: grid;
    height: 98vh;
    width: 100%;
    overflow: clip;
    padding: 1em 1em 0 1em;
    grid-template-rows:fit-content(100px) fit-content(125px) 1fr;
    grid-template-columns: fit-content(100px) 1fr fit-content(200px);
    gap: 8px;
}

.grid-container {
    padding: 0.2em;
    border-radius: 8px;
    background-color: #f3f3f3;
}

.basic-settings {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    align-content: center;
    justify-content: space-between
}

.basic-info {
    display: flex;
    align-content: center;
    justify-content: left;
    gap: 1em;
    grid-row: 2;
}
.upload-container {
    display: flex;
    justify-content: space-between;
}
.submit-container {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    align-content: center;
    justify-content: right;
}
.preview-window {
    grid-row: 3;
    grid-column: 1;
    overflow: hidden;
}

canvas {
    padding: 0;
    margin: 0;
}

.pdf-preview {
    grid-row: 1/4;
    grid-column: 2;
}
.properties {
    grid-row: 3;
    grid-column: 3;
}


.radio-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.2em;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.field-group {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    font-size: x-small;
    border-radius: 8px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: x-small;
}

input[type="number"],
input[type="checkbox"] {
    text-align: right;
    padding: 5px;
    border-radius: 4px;
    width: 8em;
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

input[type="radio"]:checked + img + span {
    font-weight: bold;
    text-decoration: underline;
}

select {
    padding: 5px;
    border-radius: 4px;
    width: 8em;
}

legend {
    font-weight: bold;
    padding: 0 0.2em;
    margin: 0 0.2em;
    font-size: 16px; /* Set a consistent font size */
    color: #333; /* Set a consistent font color */
    width: max-content; /* Set a consistent width for all legends */
    display: inline-block; /* Make legend behave like a block element */
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2em;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.logo-img {
    margin: 0 0.2em;
    width: 25px;
    height: 25px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload {
    background-color: #3d88da;
    color: white;
}

.run {
    background-color: #00b351;
    color: white;
}

.zoom_in, .zoom_out {
    background-color: darkgray;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 0.2em;
    border-radius: 8px;
}

.zoom-button {
    margin-right: 5px;
}

.button img {
    width: 35px;
    height: 35px;
}

.button:hover:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button:active:active {
    background-color: #004080;
    transform: translateY(0);
}

footer {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
}
