<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Grid PDF Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/"><img class="logo-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="Fix Store"></a>
        </div>

    </nav>
    <div class="main-content">
        <div class="wrapper">
            <aside>
            <div class="container">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <button class="button" type="button" onclick="document.getElementById('image').click()">Επιλογή εικόνας</button>
                        <input type="file"  id="image" name="image" accept="image/*" required style="display: none;">
                    </div>

                    <div class="form-group">
                        <div id="image-preview">
                            <img id="uploaded-image" src="{{ url_for('static', filename='img/default-image.png') }}" alt="Δεν έχει φορτωθεί εικόνα" style="max-width: 200px; max-height: 200px;">
                            <p id="image-name"></p>
                        </div>
                    </div>
                    <div class="form-container">
                        <div class="form-group">
                            <span>Λειτουργία</span>
                            <select name="mode" id="mode" required>
                                <option value="Page">Μια σελίδα</option>
                                <option value="Numbering">Αρίθμηση</option>
                            </select>
                        </div>
                        <div class="form-group" id="numbering-fields">
                            <div class="field-group"><input type="number" name="start_number"><label for="start_number">Αρχικός αριθμός</label></div>
                            <div class="field-group"><input type="number" name="end_number"><label for="end_number">Τελικός αριθμός</label></div>
                            <div class="field-group"><input type="number" name="offset_number_x" value="8"><label for="offset_number_x">Απόσταση από αριστερά</label></div>
                            <div class="field-group"><input type="number" name="offset_number_y" value="23"><label for="offset_number_y">Απόσταση από κάτω</label></div>
                            <div class="field-group"><input type="number" name="font_size" value="8"><label for="offset_number_y">Μέγεθος γραμματοσειράς</label></div>
                        </div>
                    </div>

                    <div class="form-container">
                        <div class="form-group">
                            <span>Διαστάσεις χαρτιού</span>
                            <select name="paper_size" id="paper_size" required>
                                <option value="255x235">Σελίδα 1 (255x235)</option>
                                <option value="255x210">Σελίδα 2 (255x210)</option>
                                <option value="487x330">Σελίδα 3 (487x330)</option>
                                <option value="350x330">Σελίδα 4 (350x330)</option>
                                <option value="A3">A3 (420 x 297)</option>
                                <option value="A4">A4 (297 x 210)</option>
                                <option value="Custom">Προσαρμογή</option>
                            </select>
                        </div>
                        <div class="form-group" id="toggleCustomSize">
                            <div class="input-group"><input type="number" name="custom_paper_width"><label for="custom_paper_width">Πλάτος</label></div>
                            <div class="input-group"><input type="number" name="custom_paper_height"><label for="custom_paper_height">Ύψος</label></div>

                        </div>
                    </div>
                    <div class="form-group">
                        <span>Διάσταση εικόνας</span>
                        <select name="img_size" id="img_size" required>
                            <option value="Sticker">Ετικέτα 60x90</option>
                            <option value="Card">Κάρτα 85x55</option>
                            <option value="Square">Τετράγωνο 55x55</option>
                            <option value="Custom">Προσαρμογή</option>
                        </select>
                    </div>
                    <div class="form-group" id="toggleCustomImgSize">
                        <div class="input-group"><input type="number" name="custom_image_width"><label for="custom_image_height">Πλάτος εικόνας</label></div>
                        <div class="input-group"><input type="number" name="custom_image_height"><label for="custom_image_height">Ύψος εικόνας</label></div>
                    </div>
                    <div class="form-group">
                        <div class="form-group"><input type="number" name="gap" value="0" required><label for="gap">Κενό ανάμεσα</label></div>
                        <div class="form-group"><input type="number" name="padding" value="0" required><label for="padding">Κενό γύρω</label></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button">Δημιουργία PDF</button>
                    </div>
                </form>
            </div>
            </aside>
        </div>
        <div class="wrapper">
            <main>
                <div class="container">
                    {% if merged_pdf_path %}
                    <iframe src="{{ url_for('download', filename=merged_pdf_path.split('/')[-1]) }}" frameborder="0"></iframe>
                    {% endif %}
                </div>

            </main>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Email: support@fixstore.info</p>
        </div>
        <div class="container">
            &copy; 2021 Fix Store. All rights reserved.
        </div>
        <div class="container">
            <p>Phone: 2651075049</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
