<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plexi - Εργαλείο τυπογραφίας</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="grid-wrapper">
            <div class="grid-container home">
                <header>
                    <div>
                        <button onclick="location.href='/'" type="button" class="button home-button">
                            <img class="logo-img" src="{{ url_for('static', filename='icons/home-icon.png') }}" alt="Fix Store">Plexi</button>
                    </div>
                    <div>
                        <button class="button upload" type="button" onclick="document.getElementById('image').click()">
                            <img src="{{ url_for('static', filename='icons/upload-icon.png') }}" alt="Upload" class="critical-icon">
                            <input type="file" id="image" name="image" accept="image/*" required style="display: none;"><span>Ανέβασμα</span>
                        </button>
                    </div>
                    <div class="image-name-container">
                        <span id="image-name"></span>
                    </div>
                </header>
            </div>
            <div id="context-menu" class="context-menu box">
                <ul>
                    <li id="delete-box">Διαγραφή</li>
                    <li id="cancel-menu">Άκυρο</li>
                </ul>
            </div>
            <div class="grid-container basic-options">
                <nav>
                    <div>
                        <div>
                            <fieldset>
                                <legend>Χαρτί</legend>
                                <div class="paper-size">
                                        <select name="paper_size" id="paper_size" required>
                                            <option value="255x235">255x235</option>
                                            <option value="255x210">255x210</option>
                                            <option value="487x330">487x330</option>
                                            <option value="350x330">350x330</option>
                                            <option value="A3">A3</option>
                                            <option value="A4">A4</option>
                                            <option value="Custom">Προσαρμογή</option>
                                        </select>
                                </div>
                                <div class="side-by-side-group" id="custom_paper_settings" style="display: none;">
                                        <input class="side-by-side" type="number" id="custom_paper_width" name="custom_paper_width" placeholder="Πλάτος">
                                        <input class="side-by-side" type="number" id="custom_paper_height" name="custom_paper_height" placeholder="Ύψος">
                                    </label>
                            </fieldset>
                        </div>
                        <div>
                            <fieldset>
                                <legend>Εικόνα</legend>
                            <div class="image-size">
                                        <select class= name="img_size" id="img_size" required>
                                            <option value="Sticker">60x90</option>
                                            <option value="Card">85x55</option>
                                            <option value="Square">55x55</option>
                                            <option value="Custom">Προσαρμογή</option>
                                        </select>
                            </div>
                            <div class="side-by-side-group" id="custom_image_settings" style="display: none;">
                                <input class="side-by-side" type="number" id="custom_image_width"  name="custom_image_width" placeholder="Πλάτος">
                                <input class="side-by-side" type="number" id="custom_image_height" name="custom_image_height" placeholder="Ύψος">
                            </div>
                        </div>
                        <div>
                            <fieldset>
                                <legend>Προσαρμογή κενού</legend>
                                    <input type="number" id="gap" name="gap" value="0" required>
                            </fieldset>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="grid-container more-options">
                <div>
                    <fieldset class="field-group field-group-numbering" style="display: none;">
                        <legend>Επιλογές αρίθμησης</legend>
                        <label for="start_number">Αρχικός
                            <input type="number" id="start_number" name="start_number">
                        </label>
                        <label for="end_number">Τελικός
                            <input type="number" id="end_number" name="end_number">
                        </label>
                        <legend>Επιλογές γραμματοσειράς</legend>
                        <label for="font_size">Μέγεθος
                            <input type="number" id="font_size" name="font_size" value="8">
                        </label>
                        <label for="reverse_order">
                            <input type="checkbox" id="reverse_order" name="reverse_order"> Αντιστροφή σειράς αρίθμησης
                        </label>
                    </fieldset>
                </div>
                <div id="add-text-input-container" style="display:none;">
                    <fieldset>
                        <legend>Ρυθμίσεις κειμένου</legend>
                            <div>
                                <label for="text-content">Εισάγετε κείμενο
                                    <input type="text" id="text-content" name="text-content" class="text-content">
                                </label>
                            </div>
                        <div>
                            <legend>Γωνία και μέγεθος κειμένου</legend>
                            <select id="text-rotation" name="text-rotation" class="side-by-side" type="text">
                                    <option value="0">0°</option>
                                    <option value="90">+90°</option>
                                    <option value="-90">-90°</option>
                                </select>
                                <select id="text-font-size" name="text-font-size" class="side-by-side" type="text">
                                    <option value="6">6px</option>
                                    <option value="8">8px</option>
                                    <option value="10">10px</option>
                                    <option value="12">12px</option>
                                    <option value="14">14px</option>
                                    <option value="16">16px</option>
                                    <option value="18">18px</option>
                                    <option value="20">20px</option>
                                    <option value="22">22px</option>
                                    <option value="24">24px</option>
                                    <option value="26">26px</option>
                                    <option value="28">28px</option>
                                    <option value="30">30px</option>
                                    <option value="32">32px</option>
                                </select>
                        </div>
                        <div>
                            <button id="submit-text" class="button " >Υποβολή</button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="grid-container add-container">
                <div style="display: none;">
                    <input type="hidden" name="box_data" id="box_data">
                    <input type="hidden" name="text_data" id="text_data">
                </div>
                <div style="display: none;">
                    <button id="mode-switch" type="button" class="button tool"><img src="{{ url_for('static', filename='icons/one-page-icon.png') }}"  style="cursor:pointer;" title="Λειτουργία" alt="add box" class="tool-icon"></button>
                    <input type="radio" name="mode" value="Page" id="mode_page" required checked style="display: none;">
                    <input type="radio" name="mode" value="Numbering" id="mode_numbering" required style="display: none;">
                </div>
                <div>
                    <button id="add-box" class="button tool" type="button"><img src="{{ url_for('static', filename='icons/add-box-icon.png') }}"  style="cursor:pointer;" title="Προσθήκη Κουτιού" alt="add box" class="tool-icon"></button>
                </div>
                <div>
                    <button id="set-numbering-position" class="button tool"><img src="{{ url_for('static', filename='icons/add-number-icon.png') }}" style"curson:pointer;" title="Θέση αρίθμησης" alt="set number position" class="tool-icon"></button>
                </div>
                <div>
                    <button id="add-text" class="button tool"><img src="{{ url_for('static', filename='icons/add-text-icon.png') }}" style"curson:pointer;" title="Προσθήκη κειμένου" alt="add text" ></button>
                </div>
                <div>
                    <button id="zoom-in" class="button tool" type="button">
                        <img  src="{{ url_for('static', filename='icons/zoom-in-icon.png') }}"  style="cursor:pointer;" title="Μεγένθυνση" alt="zoom in">
                    </button>
                </div>
                <div>
                    <button id="zoom-out" class="button tool" type="button">
                        <img src="{{ url_for('static', filename='icons/zoom-out-icon.png') }}"  style="cursor:pointer;" title="Σμίκρυνση" alt="zoom out">
                    </button>
                </div>
            </div>
            <div class="grid-container image-preview">
                <div id="image-preview">
                    <canvas id="image-canvas"></canvas>
                </div>
            </div>
            <div class="grid-container pdf-preview">
                <div>
                    {% if merged_pdf_path %}
                    <iframe src="{{ url_for('download', filename=merged_pdf_path.split('/')[-1]) }}" frameborder="0"></iframe>
                    {% endif %}
                </div>
            </div>
            <div class="grid-container submit-container">
                <button type="submit" class="button run"><img src="{{ url_for('static', filename='icons/pdf-icon.png') }}" style"curson:pointer;" title="Θέση αρίθμησης" alt="Submit" class="critical-icon"><span>Εκτέλεση</span></button>
            </div>
        </div>
    </form>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            function sendDataToServer(data) {
                fetch('/submit-data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken // Add CSRF token to the request
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const imageInput = document.getElementById('image');
            const imageName = document.getElementById('image-name');

            imageInput.addEventListener('change', (event) => {
                const file = event.target.files[0];
                if (file) {
                    imageName.textContent = file.name;
                }
            });
        });
    </script>
</body>
</html>
