<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Grid PDF Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="grid-container">

        <main class="middle-row">
            <section class="left-container">

            </section>
            <section class="right-container">

            </section>
            <section class="properties-container">

            </section>
        </main>

    </div>

</body>
</html>
